In [1]:
""" Module providing main archive. """

from IPython.display import display

from src.wpp import Whatsapp
from src.grafical import Grafical

In [4]:
def main():
    """ Main execution of all code. """

    wpp = Whatsapp()

    wpp.rename_user("Lu√≠s Rafael Sena", "Eu")
    wpp.rename_user("M√¥ ü§ì‚ù§Ô∏è", "Amor")

    frame = wpp.word_count()[0]
    
    display(frame)

In [5]:
if __name__ == "__main__":
    main()

                            Amor    Eu
eu                         15614  8528
de                          8310  7840
n                           8121  6799
a                           6795  6090
pra                         5755  5883
...                          ...   ...
‚Äéptt-20240808-wa0011.opus      1     0
supervisionar                  1     0
reerguendo                     1     0
acredita,                      1     0
bobona?                        0     1

[42647 rows x 2 columns]